<!--
<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #45a049;">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: #555;">CoffeShop</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}" style="color: #555;">
                    Home
                </a>
                <a class="nav-item nav-link active" href="{% url 'products' %}" style="color: #555;">Produkty</a>
                <a class="nav-item nav-link active" href="" style="color: #555;">Hodnotenia</a>
                <a class="nav-item nav-link active" href="" style="color: #555;">Kontakt</a>
            </div>
        </div>
    </div>
</nav>
-->
