<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'home' %}">CoffeShop</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">
                    Home
                </a>
                <a class="nav-item nav-link active" href="">Produkty</a>
                <a class="nav-item nav-link active" href="">Hodnotenia</a>
                <a class="nav-item nav-link active" href="">Kontakt</a>

            </div>
            <div class="collapse navbar-collapse" style="position: relative;">
                <a class="nav-item nav-link active" href="{% url 'create_order' %}" style="color:white; position: absolute; right:0">🧺 Košík
                    (0)</a>
            </div>
        </div>

    </div>
</nav>