<!-- nav-bar.html -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(179, 230, 150, 0.6);">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">CoffeShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Produkty</a></li>
                <li class="nav-item"><a class="nav-link" href="">Hodnotenia</a></li>
                <li class="nav-item"><a class="nav-link" href="">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'o_nas' %}">O Nás</a></li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(25, 22, 22, 0.5);
        font-size: 1.2em;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #3a3a3a; /* Szürke szín beállítása */
    }
</style>

<script>
    document.querySelectorAll('.three-d-rotate').forEach(el => {
        el.innerHTML = el.textContent.split('').map((char, i) =>
            `<span style="--i:${i}">${char}</span>`
        ).join('');
    });
</script>
